body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111827;
  color: white;
}

.explore {
  &__tab-btn {
    flex: 1;
    border: none;
    border-radius: 12px;
    padding: 14px 16px;
    background: #54A8E5;
    color: #aeb4c0;
    font-size: 0.95rem;
    cursor: pointer;
  }

  &__movie {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;

  }


  &__tab-btn--active {
    background: #68b6ff;
    color: white;
    font-weight: 600;
  }

  &__section-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
  }

  &__section-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
  }

  &__see-more {
    color: #7d8493;
    font-size: 0.9rem;
  }


  &__top-movies {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    margin-bottom: 18px;
  }

  &__recommended-movies {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    margin-bottom: 18px;
  }

  &__message {
    min-height: 100vh;
    display: grid;
    place-items: center;
    color: #ffffff;
    background: #10141f;
    font-size: 1.2rem;
  }
}



.movie-card {
  &__large {
    width: 100px;

  }

  &__small {
    width: 112px;
  }

  &__featured-image {
    width: 50%;
    max-width: 400px;
    height: 500px;

    display: block;
    margin: 0 auto;

    border-radius: 20px;
    object-fit: cover;
  }

  &__title {
    margin: 12px 0 6px;
    font-size: 1.05rem;
    font-weight: 500;
  }

  &__rating {
    margin: 0;
    color: #ffb545;
    font-size: 0.95rem;
    letter-spacing: 2px;
  }

  &__movie-link {
    text-decoration: none;
    color: inherit;
    display: block;
  }


}

.movie-row {
  display: flex;
  gap: 25rem
}

.bottom-nav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 480px;
  margin: 0 auto;
  background: #111827;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  padding: 16px 30px 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__item {
    color: #7f8697;
    font-size: 1.35rem;

    &--active {
      color: #69b7ff;
    }

    &__explore-message {
      color: #ffffff;
      padding: 24px;
    }
  }
}