  .header {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 28px;

      &__back-button {
          position: absolute;
          margin-left: -300px;
          color: white;
          font-size: 20px;
      }
  }