.seat {
   float: left;
   width: 2.2rem;
   height: 2.2rem;
   margin: 0 0.55rem 0.9rem 0;
   border: 1.5px solid #8b93a7;
   border-radius: .3rem;
   box-sizing: border-box;
   display: block;
   cursor: pointer;
   transition: 0.2s ease;

   &:has(input:checked) {
      background-color: #54A8E5;
      border-color: #54A8E5;
   }

   &:has(input:disabled) {
      background-color: #EB5757;
      border-color: #EB5757;
      cursor: not-allowed;
   }

   &__checkbox {
      display: none;
   }

}

/* Sæde rækkerne */
.seat:nth-of-type(1),
.seat:nth-of-type(7),
.seat:nth-of-type(15),
.seat:nth-of-type(23),
.seat:nth-of-type(31),
.seat:nth-of-type(39) {
   clear: left;
}

/* Centrering af de korte rækker */
.seat:nth-of-type(1),
.seat:nth-of-type(39) {
   margin-left: 2.8rem;
}

/* Midtergangen */
.seat:nth-of-type(3),
.seat:nth-of-type(10),
.seat:nth-of-type(18),
.seat:nth-of-type(26),
.seat:nth-of-type(34),
.seat:nth-of-type(41) {
   margin-right: 2rem;
}

/* Højremargin */
.seat:nth-of-type(6),
.seat:nth-of-type(14),
.seat:nth-of-type(22),
.seat:nth-of-type(30),
.seat:nth-of-type(38),
.seat:nth-of-type(44) {
   margin-right: 0;
}

.seat-legend {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 2rem;
   padding: 0 0.5rem;


   &__item {
      display: flex;
      align-items: center;
      gap: 0.5rem;
   }

   &__dot {
      width: 0.7rem;
      height: 0.7rem;
      border-radius: 50%;
   }

   &--selected {
      background-color: #54A8E5;
   }

   &--reserved {
      background-color: #EB5757;
   }

   &--available {
      border: 1.5px solid #7f8798;
      background-color: transparent;
   }

   &__text {
      font-size: 0.9rem;
      color: #aab2c2;
   }

   /* ---------- CHECKOUT BUTTON ---------- */

   .seats__checkout-button {
      width: 100%;
      margin-top: 2rem;
      padding: 1rem;

      border: none;
      border-radius: 1rem;

      background: #63b2f4;
      color: white;

      font-size: 1.1rem;
      font-weight: 600;

      cursor: pointer;
      transition: 0.2s ease;

      &:hover {
         background: #4fa3eb;
      }

      &:active {
         transform: scale(0.98);
      }

   }











}