.seat {
   border: 1px solid #B2B5BB;
   border-radius: .3rem;
   width: 1rem;
   height: 1rem;
   display: block;
   cursor: pointer;

   &:has(input:checked) {
      background-color: #54A8E5;
      border-color: #54A8E5;
   }

   &:has(input:disabled) {
      background-color: #EB5757;
      border-color: #EB5757;
      cursor: not-allowed;
   }

   &__checkbox {
      display: none;
   }

}